<div class="card">
  <div class="card-body">
    <div class="list-group">
      <div class="list-group-item">
        <div class="row">
          <div class="col-sm-4">User Name</div>
          <div class="col-sm-6">{{ currentUser?.username }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Name</div>
          <div class="col-sm-6">{{ currentUser?.name }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Email</div>
          <div class="col-sm-6">{{ currentUser?.email }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Mobile Number</div>
          <div class="col-sm-6">{{ currentUser?.mobile_number }}</div>
        </div>
        <div class="row">
          <div class="col-sm-4">Address</div>
          <div class="col-sm-6">{{ currentUser?.address }}</div>
        </div>
      </div>
    </div>
  </div>
</div>